.info-container {
  display: flex;
  flex-direction: column;
}

.instrucoes-content{
  font-size: 20px;
}

#title-instrucoes{
  font-size: 30px;
}

@media (max-width: 768px)  {
  .info-container {
    text-align: center;
  }
}
