<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field id="qtd-dias">
        <mat-label>Quantidade de dias:</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="qtdDias"
          min="5"
          max="30"
          value="5"
          name="qtd-dias"
        />
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field id="datas">
        <mat-label>Período:</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Data inicial"
          />
          <input matEndDate formControlName="end" placeholder="Data final" />
        </mat-date-range-input>
        <mat-hint>{{ getDateFormatString() }}</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field id="localidade">
        <mat-label>Estado:</mat-label>
        <mat-select [(value)]="selectedState">
          <mat-option></mat-option>
          <mat-option [value]="state.sigla" *ngFor="let state of states">{{
            state.nome
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field id="localidade">
        <mat-label>Cidade: (Em breve)</mat-label>
        <mat-select [(value)]="selectedState" disabled>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

    <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
        <button id="listar" type="button" class="btn btn-primary" (click)="sendForm()">
          Listar
        </button>
      </div>
    </div>
</div>
