<div class="form-container">
  <div class="qtd-dias">
      <label style="margin-bottom: 5px;">Quantidade de dias:</label>
      <input type="number" name="" default="5" min="5" max="30" id="qtd-dias">
  </div>

  <div class="datas">
      <div class="container-input-datas">
          <label>Data inicio:</label>
          <input type="date" name="" id="data-inicio">
      </div>
      <div class="container-input-datas">
          <label>Data Fim:</label>
          <input type="date" name="" id="data-fim">
      </div>
  </div>

  <div class="localidade">
      <label>Estado:</label>
      <select name="estado" id="estado-sigla">
        <option *ngFor="let state of states" [value]="state.sigla" [attr.data-id]="state.id">
          {{ state.nome }}
        </option>
      </select>
  </div>

  <input type="submit" value="Listar" class="btn btn-primary" onclick="enviarDados()">
</div>
