.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; */
  background-color: #107cff5e;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  color: black;
}
