<div class="form-container">
  <mat-form-field class="qtd-dias">
    <mat-label>Quantidade de dias:</mat-label>
    <input matInput type="number" [defaultValue]="5" min="5" max="30" value="5" name="qtd-dias">
  </mat-form-field>

  <div class="datas">
      <div class="container-input-datas">
          <label>Data inicio:</label>
          <input type="date" name="" id="data-inicio">
      </div>
      <div class="container-input-datas">
          <label>Data Fim:</label>
          <input type="date" name="" id="data-fim">
      </div>
  </div>

  <mat-form-field>
    <mat-label>Estado:</mat-label>
    <mat-select [(value)]="selectedState">
      <mat-option></mat-option>
      <mat-option [value]="state.sigla" *ngFor="let state of states">{{ state.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <input type="submit" value="Listar" class="btn btn-primary" onclick="enviarDados()">
</div>
